<!-- ****************************************************************************
 *   The MIT License (MIT)
 * 
 *     "Copyright (c) 2016 amplifier-design-program
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 *
 *
 *   "This file developed by Tanawat Potisoothi 
 *    <t.potisoothi@gmail.com>, October 2016." 
**************************************************************************** -->

<!DOCTYPE html>
<html>

<head>
	<title>Amplifier Design Program</title>
	<!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.1/css/bulma.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"> -->

	<link rel="stylesheet" type="text/css" href="bulma-0.2.3/css/bulma.css">
	<link rel="stylesheet" type="text/css" href="font-awesome-4.6.3/css/font-awesome.min.css">
</head>

<body style='margin-top:20px;margin-left:20px;margin-right:20px;'>
	<div id="section1">
		<h1 class="tag is-info is-large" v-html="class_id"></h1>
	</div>
	<br>

	<div id="section2" class="message is-info">
		<div class="message-header" style="background-color:#0f3f57">
			Enter Main Parameter
		</div>
		<div class="tile is-parent is-vertical" style="background-color:#e2deff">
			<article class="tile is-child notification " style="background-color:#c2e8ff">
				<div class="columns">
					<div class="column">
						<label for="s11_magnitude"><span>\( S_{ 11 } \)<span> Magnitude:</label>
						<input type="number" v-model="s11_magnitude" id="s11_magnitude" name="s11_magnitude" />
					</div>
					<div class="column">
						<label for="s11_angle_degree"><span>\( S_{ 11 } \)<span> Angle (degree):</label>
						<input type="number" v-model="s11_angle_degree" id="s11_angle_degree" name="s11_angle_degree" />
					</div>
					<div class="column">
						<label for="s12_magnitude"><span>\( S_{ 12 } \)<span> Magnitude:</label>
						<input type="number" v-model="s12_magnitude" id="s12_magnitude" name="s12_magnitude" />
					</div>
					<div class="column">
						<label for="s12_angle_degree"><span>\( S_{ 12 } \)<span> Angle (degree):</label>
						<input type="number" v-model="s12_angle_degree" id="s12_angle_degree" name="s12_angle_degree" />
					</div>
				</div>
				<div class="columns">
					<div class="column">
						<label for="s21_magnitude"><span>\( S_{ 21 } \)<span> Magnitude:</label>
						<input type="number" v-model="s21_magnitude" id="s21_magnitude" name="s21_magnitude" />
					</div>
					<div class="column">
						<label for="s21_angle_degree"><span>\( S_{ 21 } \)<span> Angle (degree):</label>
						<input type="number" v-model="s21_angle_degree" id="s21_angle_degree" name="s21_angle_degree" />
					</div>
					<div class="column">
						<label for="s22_magnitude"><span>\( S_{ 22 } \)<span> Magnitude:</label>
						<input type="number" v-model="s22_magnitude" id="s22_magnitude" name="s22_magnitude" />
					</div>
					<div class="column">
						<label for="s22_angle_degree"><span>\( S_{ 22 } \)<span> Angle (degree):</label>
						<input type="number" v-model="s22_angle_degree" id="s22_angle_degree" name="s22_angle_degree" />
					</div>
				</div>
			</article>

			<article class="tile is-child notification " style="background-color:#c2e8ff">
				<p class="title">Compute: </p>

				<!-- http://www.javascripter.net/faq/mathsymbols.htm -->
				<!-- <div class="columns">					
					<div class="column">
						<p>   S11={{ s11_magnitude }} <span>\(\angle\)<span> {{ s11_angle_degree }}<span>\(^{ \circ } \)<span></p>
					</div>
					<div class="column">
						<p>   S12={{ s12_magnitude }} <span>\(\angle\)<span> {{ s12_angle_degree }}<span>\(^{ \circ } \)<span></p>
					</div>
					<div class="column">
						<p>   S21={{ s21_magnitude }} <span>\(\angle\)<span> {{ s21_angle_degree }}<span>\(^{ \circ } \)<span></p>
					</div>
					<div class="column">
						<p>   S22={{ s22_magnitude }} <span>\(\angle\)<span> {{ s22_angle_degree }}<span>\(^{ \circ } \)<span></p>
					</div>
				</div> -->

				<!-- <div style="visibility: hidden;"> {{s11}} {{s12}} {{s21}} {{s22}} </div> -->
				<span>\( \Delta \)</span> = {{ delta.abs() }} <span>\(\angle\)</span> {{ delta_arg_degree }} <span>\(^{ \circ } \)</span>
				<!-- <p>   C1 = {{ C1.abs() }} \(\angle\) {{ C1.arg() }}(rad)</p>
				<p>   C2 = {{ C2.abs() }} \(\angle\) {{ C2.arg() }}(rad)</p>
				<p>   H1 = {{ H1 }}</p> -->
				<br>
				<span>\(k\)</span> = {{ AK }} 
			</article>
		</div>
	</div>
	
	<div id="section_mode_1" class="message is-info">
		<div class="message-header" style="background-color:#009c1a" v-on:click="show_content_mode_1 = !show_content_mode_1">
			<div>1) Stability Circle &nbsp;&nbsp;&nbsp;<div class="icon"><i class="fa fa-chevron-circle-down"></i></div> </div>
			
		</div>
		<transition name="fade">
			<div class="tile is-parent is-vertical" style="background-color:#fbffaf" v-show="show_content_mode_1" >
				<article class="tile is-child notification " style="background-color:#f1ef7a">
					<p class="title">Compute: </p>
					<article class="tile is-child notification " style="background-color:#61f4ae">
						<p>   {{ m1_transistor_res }}   </p>
					</article>
					<br>
					<article class="tile is-child notification " style="background-color:#96d4df">
						<p class="title">Input Stability Circle</p>
						<p class="subtitle">{{ m1_input_res }}</p>
						<div class="columns content">
							<div class="column">Radius={{ m1_RS }}</div>
							<div class="column">Center Magnitude={{ m1_CS.abs() }}</div>
							<div class="column">Center Angle={{ m1_CS_arg_degree }}<span>\(^{ \circ } \)<span></div>
						</div>
					</article>
					<br>
					<article class="tile is-child notification " style="background-color:#dfd796">
						<p class="title">Output Stability Circle</p>
						<p class="subtitle">{{ m1_output_res }}</p>
						<div class="columns">
							<div class="column">Radius={{ m1_RL }}</div>
							<div class="column">Center Magnitude={{ m1_CL.abs() }}</div>
							<div class="column">Center Angle={{ m1_CL_arg_degree }}<span>\(^{ \circ } \)<span></div>
						</div>
					</article>
				</article>			
			</div>
		</transition>
	</div>
	<div id="section_mode_2" class="message is-info">
		<div class="message-header" style="background-color:#009c1a" v-on:click="show_content_mode_2 = !show_content_mode_2">
			<div>2) Unilateral Figure of Merit &nbsp;&nbsp;&nbsp;<div class="icon"><i class="fa fa-chevron-circle-down"></i></div> </div>
		</div>
		<transition name="fade">
			<div class="tile is-parent is-vertical" style="background-color:#fbffaf" v-show="show_content_mode_2" >
				<article class="tile is-child notification " style="background-color:#f1ef7a">
					<p class="title">Compute: </p>
					<article class="tile is-child notification " style="background-color:#61f4ae">
						<p>   Unilateral Figure of Merit = {{ m2_U }}    </p>
						<br>
						<p>   {{ m2_UL }} (dB) <span>\(\lt \displaystyle \frac{ G_{T} }{ G_{TU} } \lt\)<span> {{ m2_UR }}  (dB)   </p>
					</article>
				</article>
			</div>
		</transition>
	</div>
	<div id="section_mode_3" class="message is-info">
		<div class="message-header" style="background-color:#009c1a" v-on:click="show_content_mode_3 = !show_content_mode_3">
			<div>3) Unilateral Power Gain Circles &nbsp;&nbsp;&nbsp;<div class="icon"><i class="fa fa-chevron-circle-down"></i></div> </div>
		</div>
		<transition name="fade">
			<div class="tile is-parent is-vertical" style="background-color:#fbffaf"  v-show="show_content_mode_3" >
				<article class="tile is-child notification " style="background-color:#f1ef7a">
					<p class="title">Compute: </p>
					<article class="tile is-child notification " style="background-color:#61f4ae">
						<p  v-show=" m3_show_flag_1 " >   {{ m3_transistor_res }}   </p>
						<p  v-show=" !(m3_show_flag_1) ">   
							<div class="columns"  v-show=" !(m3_show_flag_1) ">
								<div class="column" >
									<span>\( \Large{G_{S_{ max }}} \)<span> = {{ m3_GSMAX }} dB
								</div>
								<div class="column">
									<span>\( \Large{G_{L_{ max }}} \)<span> = {{ m3_GLMAX }} dB
								</div>
								<div class="column" >
									<span>\( \Large{G_{O}} \)<span> = {{ m3_GO }} dB
								</div>
								<div class="column">
									<span>\( \Large{G_{TU_{ max }}} \)<span> = {{ m3_GTUMAX }} dB
								</div>
							</div>
						</p>
					</article>
					<br>
					<article class="tile is-child notification " style="background-color:#96d4df">
						<p class="title"><span>\(G_{S}\)<span> Circle</p>
						<div class="columns">
							<div class="column">
								<label for="m3_GS_start">Gain start:</label>
								<input type="number" v-model="m3_GS_start" id="m3_GS_start" name="m3_GS_start" />	
								<label for="m3_GS_start">dB</label>
							</div>
							<div class="column">
								<label for="m3_GS_stop">Gain stop:</label>
								<input type="number" v-model="m3_GS_stop" id="m3_GS_stop" name="m3_GS_stop" />
								<label for="m3_GS_stop">dB</label>
							</div>
							<div class="column">
								<label for="m3_GS_step">Gain step:</label>
								<input type="number" v-model="m3_GS_step" id="m3_GS_step" name="m3_GS_step" />
								<label for="m3_GS_step">dB</label>
							</div>
							<!-- <button v-on:click="m3_GS_Compute">Compute</button> -->
						</div>
						<table class="table table is-striped table is-narrow">
							<thead>
								<tr>
									<th><p class="has-text-centered"> Gain (dB) </p></th>
									<th><p class="has-text-centered">Gain Circle Radius</p></th>
									<th><p class="has-text-centered">Gain Circle Center: Magnitude</p></th>
									<th><p class="has-text-centered">Gain Circle Center: Angle (degree, <span>\(^{ \circ } \)<span>)</p></th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="GSi in m3_GS_group">
									<td class="has-text-centered"> {{ GSi.G }} </td>
									<td class="has-text-centered"> {{ GSi.RIS }} </td>
									<td class="has-text-centered"> {{ GSi.DIS }} </td>
									<td class="has-text-centered"> {{ m3_GS_arg_degree }} </td>
								</tr>
								
							</tbody>
						</table>
					</article>
					<br>
					<article class="tile is-child notification " style="background-color:#dfd796">
						<p class="title"><span>\(G_{L}\)<span> Circle</p>
						<div class="columns">
							<div class="column">
								<label for="m3_GL_start">Gain start:</label>
								<input type="number" v-model="m3_GL_start" id="m3_GL_start" name="m3_GL_start" />
								<label for="m3_GL_start">dB</label>
							</div>
							<div class="column">
								<label for="m3_GL_stop">Gain stop:</label>
								<input type="number" v-model="m3_GL_stop" id="m3_GL_stop" name="m3_GL_stop" />
								<label for="m3_GL_stop">dB</label>
							</div>
							<div class="column">
								<label for="m3_GL_step">Gain step:</label>
								<input type="number" v-model="m3_GL_step" id="m3_GL_step" name="m3_GL_step" />
								<label for="m3_GL_step">dB</label>
							</div>
						</div>
						<table class="table table is-striped table is-narrow">
							<thead>
								<tr>
									<th><p class="has-text-centered"> Gain (dB) </p></th>
									<th><p class="has-text-centered">Gain Circle Radius</p></th>
									<th><p class="has-text-centered">Gain Circle Center: Magnitude</p></th>
									<th><p class="has-text-centered">Gain Circle Center: Angle (degree, <span>\(^{ \circ } \)<span>)</p></th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="GLi in m3_GL_group">
									<td class="has-text-centered"> {{ GLi.G }} </td>
									<td class="has-text-centered"> {{ GLi.RIS }} </td>
									<td class="has-text-centered"> {{ GLi.DIS }} </td>
									<td class="has-text-centered"> {{ m3_GL_arg_degree }} </td>
								</tr>
								
							</tbody>
						</table>
					</article>
				</article>
			</div>
		</transition>
	</div>
	
	<div id="section_mode_4" class="message is-info">
		<div class="message-header" style="background-color:#009c1a" v-on:click="show_content_mode_4 = !show_content_mode_4">
			<div>4) Simultaneous Conjugate Match &nbsp;&nbsp;&nbsp;<div class="icon"><i class="fa fa-chevron-circle-down"></i></div> </div>
		</div>
		<transition name="fade">
			<div class="tile is-parent is-vertical" style="background-color:#fbffaf"  v-show="show_content_mode_4" >
				<article class="tile is-child notification " style="background-color:#f1ef7a">
					<p class="title">Compute: </p>
					<article  v-show=" m4_show_flag_1 " class="tile is-child notification " style="background-color:#96d4df">
						<p class="subtitle">Complex Conjugate Match at the input port</p>
						<p class="content">   <span>\(\Gamma_{S}\)<span> = {{ m4_GS.abs() }} <span>\(\angle\)<span> {{ m4_GS_arg_degree }}<span>\(^{ \circ } \)<span> </p>
					</article>
					<article  v-show=" m4_show_flag_1 " class="tile is-child notification " style="background-color:#dfd796">
						<p class="subtitle">Complex Conjugate Match at the output port</p>
						<p class="content">   <span>\(\Gamma_{L}\)<span> = {{ m4_GL.abs() }} <span>\(\angle\)<span> {{ m4_GL_arg_degree }}<span>\(^{ \circ } \)<span> </p>
					</article>
					<article  v-show=" !(m4_show_flag_1) " class="tile is-child notification " style="background-color:#61f4ae">
						<p>   Potentially Unstable Transistor, use Operating or Available Power Gain Design    </p>
					</article>
				</article>
			</div>
		</transition>
	</div>
	
	<div id="section_mode_5" class="message is-info">
		<div class="message-header" style="background-color:#009c1a" v-on:click="show_content_mode_5 = !show_content_mode_5">
			<div>5) Power & Available Power Gain Circles &nbsp;&nbsp;&nbsp;<div class="icon"><i class="fa fa-chevron-circle-down"></i></div> </div>
		</div>
		<transition name="fade">
			<div class="tile is-parent is-vertical" style="background-color:#fbffaf"  v-show="show_content_mode_5" >
				<article class="tile is-child notification " style="background-color:#f1ef7a">
					<p class="title">Compute: </p>
					<article class="tile is-child notification " style="background-color:#61f4ae">
						<p  v-show=" m5_show_flag_1 " >   Unconditionally Stable Transistor, <span>\( \Large{G_{P_{max}}} \)<span> = {{ m5_GPMAX }} dB  </p>
						<p  v-show=" !(m5_show_flag_1) ">   Potentially Unstable Transistor, <span>\(G_{MSG}\)<span> = {{ m5_GMSG }} dB   </p>
					</article>
					<br>
					<article class="tile is-child notification " style="background-color:#96d4df">
						<p class="title">Operating Power Gain Circles</p>
						<div class="columns">
							<div class="column">
								<label for="m5_OP_start">Gain start:</label>
								<input type="number" v-model="m5_OP_start" id="m5_OP_start" name="m5_OP_start" />	
								<label for="m5_OP_start">dB</label>
							</div>
							<div class="column">
								<label for="m5_OP_stop">Gain stop:</label>
								<input type="number" v-model="m5_OP_stop" id="m5_OP_stop" name="m5_OP_stop" />
								<label for="m5_OP_stop">dB</label>
							</div>
							<div class="column">
								<label for="m5_OP_step">Gain step:</label>
								<input type="number" v-model="m5_OP_step" id="m5_OP_step" name="m5_OP_step" />
								<label for="m5_OP_step">dB</label>
							</div>
						</div>
						<table class="table table is-striped table is-narrow">
							<thead>
								<tr>
									<th><p class="has-text-centered"> Gain (dB) </p></th>
									<th><p class="has-text-centered">Gain Circle Radius</p></th>
									<th><p class="has-text-centered">Gain Circle Center: Magnitude</p></th>
									<th><p class="has-text-centered">Gain Circle Center: Angle (degree, <span>\(^{ \circ } \)<span>)</p></th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="OPi in m5_OP_group">
									<td class="has-text-centered"> {{ OPi.G }} </td>
									<td class="has-text-centered"> {{ OPi.RADIUS }} </td>
									<td class="has-text-centered"> {{ OPi.DISTAN }} </td>
									<td class="has-text-centered"> {{ OPi.ANGLE }} </td>
								</tr>
								
							</tbody>
						</table>
					</article>
					<br>
					<article class="tile is-child notification " style="background-color:#dfd796">
						<p class="title">Available Power Gain Circles</p>
						<div class="columns">
							<div class="column">
								<label for="m5_AV_start">Gain start:</label>
								<input type="number" v-model="m5_AV_start" id="m5_AV_start" name="m5_AV_start" />	
								<label for="m5_AV_start">dB</label>
							</div>
							<div class="column">
								<label for="m5_AV_stop">Gain stop:</label>
								<input type="number" v-model="m5_AV_stop" id="m5_AV_stop" name="m5_AV_stop" />
								<label for="m5_AV_stop">dB</label>
							</div>
							<div class="column">
								<label for="m5_AV_step">Gain step:</label>
								<input type="number" v-model="m5_AV_step" id="m5_AV_step" name="m5_AV_step" />
								<label for="m5_AV_step">dB</label>
							</div>
						</div>
						<table class="table table is-striped table is-narrow">
							<thead>
								<tr>
									<th><p class="has-text-centered"> Gain (dB) </p></th>
									<th><p class="has-text-centered">Gain Circle Radius</p></th>
									<th><p class="has-text-centered">Gain Circle Center: Magnitude</p></th>
									<th><p class="has-text-centered">Gain Circle Center: Angle (degree, <span>\(^{ \circ } \)<span>)</p></th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="AVi in m5_AV_group">
									<td class="has-text-centered"> {{ AVi.G }} </td>
									<td class="has-text-centered"> {{ AVi.RADIUS }} </td>
									<td class="has-text-centered"> {{ AVi.DISTAN }} </td>
									<td class="has-text-centered"> {{ AVi.ANGLE }} </td>
								</tr>
								
							</tbody>
						</table>
					</article>
				</article>
				
			</div>
		</transition>
	</div>
	
	<div id="section_mode_6" class="message is-info">
		<div class="message-header" style="background-color:#009c1a" v-on:click="show_content_mode_6 = !show_content_mode_6">
			<div>6) Noise Figure Circles &nbsp;&nbsp;&nbsp;<div class="icon"><i class="fa fa-chevron-circle-down"></i></div> </div>
		</div>
		<transition name="fade">
			<div class="tile is-parent is-vertical" style="background-color:#fbffaf"  v-show="show_content_mode_6" >
				<article class="tile is-child notification " style="background-color:#c2e8ff">
					<p class="subtitle">Please enter parameter: </p>
					<div class="columns">
						<div class="column">
							<label for="m6_FMIN"><span>\( F_{ min } \)<span>:</label>
							<input type="number" style="width: 60px;" v-model="m6_FMIN" id="m6_FMIN" name="m6_FMIN" />
							<label for="m6_FMIN">dB</label>
						</div>
						<div class="column">
							<label for="m6_GO_magnitude"><span>\( \Gamma_{ opt } \)<span> Magnitude:</label>
							<input type="number" style="width: 60px;" v-model="m6_GO_magnitude" id="m6_GO_magnitude" name="m6_GO_magnitude" />
						</div>
						<div class="column">
							<label for="m6_GO_arg_degree"><span>\( \Gamma_{ opt } \)<span>  Angle (degree):</label>
							<input type="number" style="width: 60px;" v-model="m6_GO_arg_degree" id="m6_GO_arg_degree" name="m6_GO_arg_degree" />
						</div>
						<div class="column">
							<label for="m6_RN"><span>\( R_{ N } \)<span> :</label>
							<input type="number" style="width: 60px;" v-model="m6_RN" id="m6_RN" name="m6_RN" />
						</div>
						<div class="column">
							<label for="m6_Z0"><span>\( Z_{ 0 } \)<span> :</label>
							<input type="number" style="width: 60px;" v-model="m6_Z0" id="m6_Z0" name="m6_Z0" />
							<label for="m6_Z0"><span>\( \Omega \)<span></label>
						</div>
					</div>
				</article>

				<article class="tile is-child notification " style="background-color:#f1ef7a">
					<p class="title">Compute: </p>
					<article class="tile is-child notification " style="background-color:#dfd796">
						<p class="title">Noise Figure Circle</p>
						<div class="columns">
							<div class="column">
								<label for="m6_NOISE_start">Noise start:</label>
								<input type="number" v-model="m6_NOISE_start" id="m6_NOISE_start" name="m6_NOISE_start" />	
								<label for="m6_NOISE_start">dB</label>
							</div>
							<div class="column">
								<label for="m6_NOISE_stop">Noise stop:</label>
								<input type="number" v-model="m6_NOISE_stop" id="m6_NOISE_stop" name="m6_NOISE_stop" />
								<label for="m6_NOISE_stop">dB</label>
							</div>
							<div class="column">
								<label for="m6_NOISE_step">Noise step:</label>
								<input type="number" v-model="m6_NOISE_step" id="m6_NOISE_step" name="m6_NOISE_step" />
								<label for="m6_NOISE_step">dB</label>
							</div>
						</div>
						<table class="table table is-striped table is-narrow">
							<thead>
								<tr>
									<th><p class="has-text-centered">Noise (dB)</p></th>
									<th><p class="has-text-centered">Radius</p></th>
									<th><p class="has-text-centered">Center: Magnitude</p></th>
									<th><p class="has-text-centered">Center: Angle (degree, <span>\(^{ \circ } \)<span>)</p></th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="NOISEi in m6_NOISE_group">
									<td class="has-text-centered"> {{ NOISEi.F }} </td>
									<td class="has-text-centered"> {{ NOISEi.RADIUS }} </td>
									<td class="has-text-centered"> {{ NOISEi.DISTAN }} </td>
									<td class="has-text-centered"> {{ NOISEi.ANGLE }} </td>
								</tr>
								
							</tbody>
						</table>
					</article>
				</article>
			</div>
		</transition>
	</div>
	
	<div id="section_mode_7" class="message is-info">
		<div class="message-header" style="background-color:#009c1a" v-on:click="show_content_mode_7 = !show_content_mode_7">
			<div>7) Input/Output Reflection Coefficient &nbsp;&nbsp;&nbsp;<div class="icon"><i class="fa fa-chevron-circle-down"></i></div> </div>
		</div>
		<transition name="fade">
			<div class="tile is-parent is-vertical" style="background-color:#fbffaf"  v-show="show_content_mode_7" >
				<article class="tile is-child notification " style="background-color:#c2e8ff">
					<p class="subtitle">Please enter Gamma(<span>\(\Gamma\)<span>) Termination: </p>
					<div class="columns">
						<div class="column">
							<label for="m7_gamma_magnitude"><span>\(\Gamma\)<span> Magnitude:</label>
							<input type="number" style="width: 60px;" v-model="m7_gamma_magnitude" id="m7_gamma_magnitude" name="m7_gamma_magnitude" />
						</div>
						<div class="column">
							<label for="m7_gamma_arg_degree"><span>\(\Gamma\)<span> Angle (degree):</label>
							<input type="number" style="width: 60px;" v-model="m7_gamma_arg_degree" id="m7_gamma_arg_degree" name="m7_gamma_arg_degree" />
						</div>
					</div>
				</article>

				<article class="tile is-child notification " style="background-color:#f1ef7a">
					<p class="title">Compute: </p>
					
					<article class="tile is-child notification " style="background-color:#96d4df">
						<p class="title">Input Reflection Coefficient</p>
						<div class="columns content">
							<div class="column"><span>\( \Gamma_{ in } \)<span> Magnitude={{ m7_input_gamma.abs() }}</div>
							<div class="column"><span>\( \Gamma_{ in } \)<span> Angle={{ m7_input_gamma_arg_degree }}<span>\(^{ \circ } \)<span></div>
						</div>
					</article>
					<br>
					<article class="tile is-child notification " style="background-color:#dfd796">
						<p class="title">Output Reflection Coefficient</p>
						<div class="columns">
							<div class="column"><span>\( \Gamma_{ out } \)<span> Magnitude={{ m7_output_gamma.abs() }}</div>
							<div class="column"><span>\( \Gamma_{ out } \)<span> Angle={{ m7_output_gamma_arg_degree }}<span>\(^{ \circ } \)<span></div>
						</div>
					</article>
					
				</article>
			</div>
		</transition>
	</div>
	
	<div id="section_mode_8" class="message is-info">
		<div class="message-header" style="background-color:#009c1a" v-on:click="show_content_mode_8 = !show_content_mode_8">
			<div>8) Conversion between <span>\(\Gamma\)<span> & <span>\(Z\)<span> &nbsp;&nbsp;&nbsp;<div class="icon"><i class="fa fa-chevron-circle-down"></i></div> </div>
		</div>
		<transition name="fade">
			<div class="tile is-parent is-vertical" style="background-color:#fbffaf"  v-show="show_content_mode_8" >
				<article class="tile is-child notification " style="background-color:#f1ef7a">
					<p class="title">Compute: </p>
					<article class="tile is-child notification " style="background-color:#c2e8ff">
						<p class="subtitle">Gamma (<span>\(\Gamma\)<span>): </p>
						<div class="columns">
							<div class="column">
								<label for="m8_gamma_magnitude"><span>\(\Gamma\)<span> Magnitude:</label>
								<input type="number" style="width: 60px;" v-model="m8_gamma_magnitude" id="m8_gamma_magnitude" name="m8_gamma_magnitude" />
							</div>
							<div class="column">
								<label for="m8_gamma_arg_degree"><span>\(\Gamma\)<span> Angle (degree):</label>
								<input type="number" style="width: 60px;" v-model="m8_gamma_arg_degree" id="m8_gamma_arg_degree" name="m8_gamma_arg_degree" />
							</div>
						</div>
						<div class="column">
							<p>   Normalized Impedance  (<span>\(\bar Z\)<span>) = {{ m8_gamma_to_z_norm.re }} + j*{{ m8_gamma_to_z_norm.im }}</p>
							<p>   Normalized Admittance (<span>\(\bar Y\)<span>) = {{ m8_gamma_to_y_norm.re }} + j*{{ m8_gamma_to_y_norm.im }}</p>
						</div>
						<br>
						<div class="columns">
							<div class="column">
								<label for="m8_g_Z0"><span>\(Z_{0}\)<span>:</label>
								<input type="number" style="width: 60px;" v-model="m8_g_Z0" id="m8_g_Z0" name="m8_g_Z0" />
							</div>
						</div>
						<div class="column">
							<p>   Impedance  (<span>\(Z\)<span>) = {{ m8_gamma_to_z.re }} + j*{{ m8_gamma_to_z.im }}</p>
							<p>   Admittance (<span>\(Y\)<span>) = {{ m8_gamma_to_y.re }} + j*{{ m8_gamma_to_y.im }}</p>
						</div>
					</article>
					<br>
					<article class="tile is-child notification " style="background-color:#dfd796">
						<p class="subtitle">Normalized Impedance (<span>\(\bar Z\)<span>): </p>
						<div class="columns">
							<div class="column">
								<label for="m8_z_norm_real">Normalized Impedance (<span>\(\bar Z\)<span>) Real:</label>
								<input type="number" style="width: 60px;" v-model="m8_z_norm_real" id="m8_z_norm_real" name="m8_z_norm_real" />
							</div>
							<div class="column">
								<label for="m8_z_norm_imag">Normalized Impedance (<span>\(\bar Z\)<span>) Imaginary:</label>
								<input type="number" style="width: 60px;" v-model="m8_z_norm_imag" id="m8_z_norm_imag" name="m8_z_norm_imag" />
							</div>
						</div>
						<div class="column">
							<p>   Gamma (<span>\(\Gamma\)<span>) = {{ m8_z_norm_to_gamma.abs() }}   <span>\(\angle\)<span>  {{ m8_z_norm_to_gamma_arg_degree }}<span>\(^{ \circ } \)<span></p>
						</div>
						<br>
						<div class="columns">
							<div class="column">
								<label for="m8_z_Z0"><span>\(Z_{0}\)<span>:</label>
								<input type="number" style="width: 60px;" v-model="m8_z_Z0" id="m8_z_Z0" name="m8_z_Z0" />
							</div>
						</div>
						<div class="column">
							<p>   Impedance  ( <span>\( Z \)<span> ) = {{ m8_z_norm_to_z.re }} + j*{{ m8_z_norm_to_z.im }}</p>
						</div>
					</article>
				</article>
			</div>
		</transition>
	</div>
	

	<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.2/vue.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/lodash/4.16.4/lodash.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.5.3/math.js"></script>
	<script type="text/javascript" async
	  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
	</script> -->
	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript" src="moment.min.js"></script>
	<script type="text/javascript" src="lodash.js"></script>
	<script type="text/javascript" src="math.min.js"></script>
	<script src="MathJax-2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	<script>
		function degree_to_radian(degree){
			// console.log("degree = "+ degree);
			radian = math.format(degree * math.pi / 180.0, 5)
			// console.log("radian = "+ radian);
			return radian
		}

		function radian_to_degree(radian) {
			degree = radian * 180.0 / math.pi
			return degree
		}

		var view_model_1 = new Vue ({
			el: '#section1',			//link to the element 'section1'
			data: {						//multiple output binding
				class_id: 'Amplifier Design Program',
				err: 'Wrong input',
				count: 4
			},
		});
		// view_model_1.class_id = "<a href=\"#\"> Amplifier Design Program</a>";	//http://vuejs.org/guide/migration.html#HTML-Interpolation-deprecated
		view_model_1.class_id = "<div>Amplifier Design Program &nbsp;&nbsp;&nbsp;<div class=\"icon\"><i class=\"fa fa-thumbs-up \"></i></div> </div>";
		//######################################################
		var sharedModel = {
			s11_magnitude: 1.3,	s11_angle_degree: 140.0, s11_angle_radian: 0.0,
			s12_magnitude: 2.0,	s12_angle_degree: -85.0, s12_angle_radian: 0.0,
			s21_magnitude: 0.2,	s21_angle_degree: 130.0, s21_angle_radian: 0.0,
			s22_magnitude: 1.15,	s22_angle_degree: -50.0, s22_angle_radian: 0.0,
			s11: math.complex({r:0, phi: 0}),	s12: math.complex({r:0, phi: 0}),
			s21: math.complex({r:0, phi: 0}),	s22: math.complex({r:0, phi: 0}),
			delta: math.complex({r:0, phi: 0}), delta_arg_degree:0.0,
			C1: math.complex({r:0, phi: 0}),
			C2: math.complex({r:0, phi: 0}),
			H1: 0.0, AK: 0.0,

			// mode 1 variable
			show_content_mode_1: true,
			m1_RSD: 0.0, m1_RS: 0.0, m1_CS: math.complex({r:0, phi: 0}), m1_CS_arg_degree:0.0,
			m1_RLD: 0.0, m1_RL: 0.0, m1_CL: math.complex({r:0, phi: 0}), m1_CL_arg_degree:0.0,
			m1_transistor_res: "-", m1_input_res: "-", m1_output_res: "-",

			// mode 2 variable
			show_content_mode_2: false,
			m2_UN: 0.0, m2_UD: 0.0,
			m2_U: 0.0, m2_UL: 0.0, m2_UR: 0.0, 
			 
			// mode 3 variable
			show_content_mode_3: false,
			m3_transistor_res: "-",
			m3_GSMAX: 0.0, m3_GLMAX: 0.0, m3_GO: 0.0, m3_GTUMAX: 0.0, 

			m3_GS_start: 0.0, m3_GS_stop: 3.0, m3_GS_step: 1.0, 
			m3_GL_start: 0.0, m3_GL_stop: 3.0, m3_GL_step: 1.0, 
			m3_GS_arg_degree: 0.0, m3_GL_arg_degree: 0.0,
			m3_GS_group: [], m3_G_groupL: [],

			// mode 4 variable
			show_content_mode_4: false,
			m4_B1:0.0, m4_B2:0.0, 
			m4_GS: math.complex({r:0, phi: 0}), m4_GL: math.complex({r:0, phi: 0}),
			m4_GS_arg_degree: 0.0, m4_GL_arg_degree: 0.0,

			// mode 5 variable
			show_content_mode_5: false,
			m5_GPMAX: 0.0, m5_GMSG: 0.0,
			m5_OP_start: 0.0, m5_OP_stop: 3.0, m5_OP_step: 1.0, 
			m5_AV_start: 0.0, m5_AV_stop: 3.0, m5_AV_step: 1.0, 
			m5_OP_arg_degree: 0.0, m5_AV_arg_degree: 0.0,
			m5_GS_group: [], m5_G_groupL: [],

			// mode 6 variable
			show_content_mode_6: false,
			m6_FMIN: 3.0, m6_GO_magnitude: 0.45, m6_GO_arg_degree: 180.0, m6_RN: 4.0, m6_Z0: 50.0, 
			m6_GO_arg_radian: 0.0,
			// m6_GO: math.complex({r:0, phi: 0}),
			m6_NOISE_start: 0.0, m6_NOISE_stop: 3.0, m6_NOISE_step: 1.0, 

			// mode 7 variable
			show_content_mode_7: false,
			m7_gamma_magnitude: -0.25, m7_gamma_arg_degree: 0.0, m7_gamma_arg_radian: 0.0,
			m7_gamma: math.complex({r:0, phi: 0}), 
			m7_input_gamma: math.complex({r:0, phi: 0}), m7_input_gamma_arg_degree: 0.0,
			m7_output_gamma: math.complex({r:0, phi: 0}), m7_output_gamma_arg_degree: 0.0,

			// mode 8 variable
			show_content_mode_8: false,
			m8_gamma_magnitude: 0.6, m8_gamma_arg_degree: 80.0,
			m8_gamma_to_z_norm: math.complex({r:0, phi: 0}), m8_gamma_to_y_norm: math.complex({r:0, phi: 0}),
			m8_g_Z0: 50.0,
			m8_gamma_to_z: math.complex({r:0, phi: 0}), m8_gamma_to_y: math.complex({r:0, phi: 0}),
			m8_z_norm_real: 0.975, m8_z_norm_imag: 0.5,
			m8_z_norm_to_gamma: math.complex({r:0, phi: 0}), m8_z_norm_to_gamma_arg_degree:0.0,
			m8_z_Z0: 50.0,
			m8_z_norm_to_z: math.complex({r:0, phi: 0}),

		};
		var main_input = new Vue ({
			el: '#section2',
			data: sharedModel ,
			watch: {
				s11: function(val) { console.log("this.s11 = "+ this.s11); },
				s12: function(val) { console.log("this.s12 = "+ this.s12); },
				s21: function(val) { console.log("this.s21 = "+ this.s21); },
				s22: function(val) { console.log("this.s22 = "+ this.s22); },
			},
			computed: {
				s11_angle_radian: { 
					get: function () { return degree_to_radian( this.s11_angle_degree ); },
					set: function (newValue) { this.s11_angle_radian = newValue; }
				},
				s12_angle_radian: { 
					get: function () { return degree_to_radian( this.s12_angle_degree ); },
					set: function (newValue) { this.s12_angle_radian = newValue; }
				},
				s21_angle_radian: { 
					get: function () { return degree_to_radian( this.s21_angle_degree ); },
					set: function (newValue) { this.s21_angle_radian = newValue; }
				},
				s22_angle_radian: { 
					get: function () { return degree_to_radian( this.s22_angle_degree ); },
					set: function (newValue) { this.s22_angle_radian = newValue; }
				},
				s11: { 
					get: function () { return math.complex({r:this.s11_magnitude, phi: this.s11_angle_radian});	}, 
					set: function (newValue) { this.s11 = newValue; } 
				},
				s12: { 
					get: function () { return math.complex({r:this.s12_magnitude, phi: this.s12_angle_radian});	}, 
					set: function (newValue) { this.s12 = newValue; } 
				},
				s21: { 
					get: function () { return math.complex({r:this.s21_magnitude, phi: this.s21_angle_radian});	}, 
					set: function (newValue) { this.s21 = newValue; } 
				},
				s22: { 
					get: function () { return math.complex({r:this.s22_magnitude, phi: this.s22_angle_radian});	}, 
					set: function (newValue) { this.s22 = newValue; } 
				},
				delta: { 
					get: function () { return math.subtract(math.multiply(this.s11, this.s22), math.multiply(this.s12, this.s21)); }, 
					set: function (newValue) { this.delta = newValue; } 
				},
				delta_arg_degree:{ 
					get: function () { return radian_to_degree(this.delta.arg()); }, 
					set: function (newValue) { this.delta_arg_degree = newValue; } 
				},
				C1:{ 
					get: function () { return math.subtract(this.s11, math.multiply(this.delta, math.conj(this.s22))); }, 
					set: function (newValue) { this.C1 = newValue; } 
				},
				C2:{ 
					get: function () { return math.subtract(this.s22, math.multiply(this.delta, math.conj(this.s11))); }, 
					set: function (newValue) { this.C2 = newValue; } 
				},
				H1:{ 
					get: function () { return math.multiply(this.s21, this.s12).abs(); }, 
					set: function (newValue) { this.H1 = newValue; } 
				},
				AK:{ 
					get: function () {
						if (math.compare(this.H1, 0.0) == 0) {
							return Infinity;
						} else {
							return math.divide(math.add(math.subtract(math.subtract(1.0, math.pow(this.s11.abs(), 2)), math.pow(this.s22.abs(), 2)), math.pow(this.delta.abs(), 2)), math.multiply(2.0,this.H1));
						}
					}, 
					set: function (newValue) { this.AK = newValue;  } 
				},
			},
		});

		var mode_1 = new Vue ({
			el: '#section_mode_1',
			data: sharedModel ,
			computed: {
				m1_RLD:{ 
					get: function () { return math.pow(main_input.s22.abs(), 2) - math.pow(main_input.delta.abs(), 2); }, 
					set: function (newValue) { this.m1_RLD = newValue; } 
				},
				m1_RL:{ 
					get: function () { return math.divide( (math.multiply(main_input.s21, main_input.s12)).abs(), math.abs(this.m1_RLD) ); }, 
					set: function (newValue) { this.m1_RL = newValue; } 
				},
				m1_CL:{ 
					get: function () { return math.divide( math.conj(main_input.C2), this.m1_RLD ); }, 
					set: function (newValue) { this.m1_CL = newValue; } 
				},
				m1_RSD:{ 
					get: function () { return math.pow(main_input.s11.abs(), 2) - math.pow(main_input.delta.abs(), 2); }, 
					set: function (newValue) { this.m1_RSD = newValue; } 
				},
				m1_RS:{ 
					get: function () { return math.divide( (math.multiply(main_input.s12, main_input.s21)).abs(), math.abs(this.m1_RSD )); }, 
					set: function (newValue) { this.m1_RS = newValue; } 
				},
				m1_CS:{ 
					get: function () { return math.divide( math.conj(main_input.C1), this.m1_RSD ); }, 
					set: function (newValue) { this.m1_CS = newValue; } 
				},
				m1_transistor_res: { 
					get: function () { 
						if (math.smaller(main_input.delta.abs(), 1.0) && math.largerEq(main_input.AK, 1.0) ){
							return "Unconditionally Stable Transistor";
						} else {
							return "Potentially Unstable Transistor";
						}
					},
					set: function (newValue) { this.m1_transistor_res = newValue; }
				},
				m1_input_res: { 
					get: function () { 
						if (math.smaller(main_input.s22.abs() - 1.0, 0.0) == true) {
							if (math.largerEq(this.m1_CS.abs(), this.m1_RS) == true){
								return "Outside is stable";
							} else {
								return "Inside is stable";
							}
						} else {
							if (math.largerEq(this.m1_CS.abs(), this.m1_RS) == true) {
								return "Inside is stable";
							} else {
								return "Outside is stable";
							}
						}
					},
					set: function (newValue) { this.m1_input_res = newValue; }
				},
				m1_output_res: { 
					get: function () { 
						if (math.smaller(main_input.s11.abs() - 1.0, 0.0) == true) {
							if (math.largerEq(this.m1_CL.abs(), this.m1_RL) == true){
								return "Outside is stable";
							} else {
								return "Inside is stable";
							}
						} else {
							if (math.largerEq(this.m1_CL.abs(), this.m1_RL) == true) {
								return "Inside is stable";
							} else {
								return "Outside is stable";
							}
						}
					},
					set: function (newValue) { this.m1_output_res = newValue; }
				},
				m1_CS_arg_degree:{ 
					get: function () { return radian_to_degree(this.m1_CS.arg()); }, 
					set: function (newValue) { this.m1_CS_arg_degree = newValue; } 
				},
				m1_CL_arg_degree:{ 
					get: function () { return radian_to_degree(this.m1_CL.arg()); }, 
					set: function (newValue) { this.m1_CL_arg_degree = newValue; } 
				},
			},
		});

		var mode_2 = new Vue ({
			el: '#section_mode_2',
			data: sharedModel , 
			computed: {
				m2_UN:{
					get: function () { return (main_input.s12.abs() * main_input.s21.abs() * main_input.s11.abs() * main_input.s22.abs() ); }, 
					set: function (newValue) { this.m2_UN = newValue; } 
				},
				m2_UD:{ 
					get: function () { return (1.0 - math.pow(main_input.s11.abs(), 2)) * (1.0 - math.pow(main_input.s22.abs(), 2)); }, 
					set: function (newValue) { this.m2_UD = newValue; } 
				},
				m2_U:{ 
					get: function () { return this.m2_UN / this.m2_UD; }, 
					set: function (newValue) { this.m2_U = newValue; } 
				},
				m2_UL:{ 
					get: function () { return 10.0 * math.log(math.pow(1.0 + this.m2_U, -2), 10); }, 
					set: function (newValue) { this.m2_UL = newValue; } 
				},
				m2_UR:{ 
					get: function () { return 10.0 * math.log(math.pow(1.0 - this.m2_U, -2), 10); }, 
					set: function (newValue) { this.m2_UR = newValue; } 
				},
			},
		});

		var mode_3 = new Vue ({
			el: '#section_mode_3',
			data:
				sharedModel , 
			computed: {
				m3_show_flag_1: {
					get: function () { 
						(main_input.s11.abs() >= 1.0);
						(main_input.s22.abs()  >= 1.0);
						return (main_input.s11.abs() >= 1.0) && (main_input.s22.abs()  >= 1.0);
					}, 
				},
				m3_transistor_res:{
					get: function () { 
						if ((main_input.s11.abs() >= 1.0) || (main_input.s22.abs()  >= 1.0))
							return "Potentially Unstable Transistor"; 
						else 
							return "-";
					}, 
					set: function (newValue) { this.m3_transistor_res = newValue; } 
				},
				m3_GSMAX:{ 
					get: function () { 
						if ((main_input.s11.abs() >= 1.0) || (main_input.s22.abs()  >= 1.0))
							return 0.0;
						else 
							return 10.0 * math.log(1.0/(1.0-math.pow(main_input.s11.abs(), 2)) , 10 ); 
					}, 
					set: function (newValue) { this.m3_GSMAX = newValue; } 
				},
				m3_GLMAX:{ 
					get: function () { 
						if ((main_input.s11.abs() >= 1.0) || (main_input.s22.abs()  >= 1.0))
							return 0.0;
						else 
							return 10.0 * math.log(1.0/(1.0-math.pow(main_input.s22.abs(), 2)) , 10 ); 
					}, 
					set: function (newValue) { this.m3_GLMAX = newValue; } 
				},
				m3_GO:{ 
					get: function () { 
						if ((main_input.s11.abs() >= 1.0) || (main_input.s22.abs()  >= 1.0))
							return 0.0;
						else 
							return 10.0 * math.log( math.pow( main_input.s21.abs(), 2) , 10 ); 
					}, 
					set: function (newValue) { this.m3_GO = newValue; } 
				},
				m3_GTUMAX:{ 
					get: function () { 
						if ((main_input.s11.abs() >= 1.0) || (main_input.s22.abs()  >= 1.0))
							return 0.0;
						else 
							return this.m3_GSMAX + this.m3_GLMAX + this.m3_GO; 
					}, 
					set: function (newValue) { this.m3_GTUMAX = newValue; } 
				},
				m3_GS_arg_degree:{ 
					get: function () { 
						return radian_to_degree(  (math.divide(1.0, main_input.s11)).arg()  ) ; 
					}, 
					set: function (newValue) { this.m3_GS_arg_degree = newValue; } 
				},
				m3_GS_group: function() {
					var G;
					var m3_GS = [];
					// var m3_GS = [ {G: 0.0, RIS: 0.0, DIS: 0.0} ];
					if(  (this.m3_GS_start >= 0) && (this.m3_GS_start <= this.m3_GS_stop) && (this.m3_GS_step > 0.0) ) {
						for (G = this.m3_GS_start; G <= this.m3_GS_stop; G=G+this.m3_GS_step) { 
							GI = math.pow(10.0, (G / 10.0));
							GI = GI * (1.0 - math.pow(main_input.s11.abs(), 2));
							
							RISD = 1.0 - ((math.pow(main_input.s11.abs(), 2)) * (1.0 - GI));
							RISN = math.sqrt(1.0-GI) * (1.0 - (math.pow(main_input.s11.abs(), 2)));
							RIS = RISN / RISD;
							DIS = (GI * main_input.s11.abs()) / RISD;
							m3_GS.push({G: G, RIS: RIS, DIS: DIS});
						}	
					}
					return m3_GS;
				},
				m3_GL_arg_degree:{ 
					get: function () { 
						return radian_to_degree(  (math.divide(1.0, main_input.s22)).arg()  ) ; 
					}, 
					set: function (newValue) { this.m3_GL_arg_degree = newValue; } 
				},
				m3_GL_group: function() {
					var G;
					var m3_GL = [];
					if(  (this.m3_GL_start >= 0) && (this.m3_GL_start <= this.m3_GL_stop) && (this.m3_GL_step > 0.0) ) {
						for (G = this.m3_GL_start; G <= this.m3_GL_stop; G=G+this.m3_GL_step) { 
							GI = math.pow(10.0, (G / 10.0));
							GI = GI * (1.0 - math.pow(main_input.s22.abs(), 2));
							
							RISD = 1.0 - ((math.pow(main_input.s22.abs(), 2)) * (1.0 - GI));
							RISN = math.sqrt(1.0-GI) * (1.0 - (math.pow(main_input.s22.abs(), 2)));
							RIS = RISN / RISD;
							DIS = (GI * main_input.s22.abs()) / RISD;
							m3_GL.push({G: G, RIS: RIS, DIS: DIS});
							// console.log(this.m3_GL_start + " " + this.m3_GL_stop + " " + this.m3_GL_step + " ...");
						}	
					}
					return m3_GL;
				},
			},
		});

		var mode_4 = new Vue ({
			el: '#section_mode_4',
			data:
				sharedModel , 
			computed: {
				m4_show_flag_1: {
					get: function () { 
						(main_input.delta.abs() < 1.0);
						(main_input.AK  > 1.0);
						return (main_input.delta.abs() < 1.0) && (main_input.AK  > 1.0);
					}, 
				},
				m4_B1:{ 
					get: function () { 
						if ((main_input.delta.abs() < 1.0) && (main_input.AK  > 1.0))
							return 1.0 + (math.pow(main_input.s11.abs(), 2)) - (math.pow(main_input.s22.abs(), 2)) - (math.pow(main_input.delta.abs(), 2));
						else 
							return 0.0;
					}, 
					set: function (newValue) { this.m4_B1 = newValue; } 
				},
				m4_B2:{ 
					get: function () { 
						if ((main_input.delta.abs() < 1.0) && (main_input.AK  > 1.0))
							return 1.0 + (math.pow(main_input.s22.abs(), 2)) - (math.pow(main_input.s11.abs(), 2)) - (math.pow(main_input.delta.abs(), 2));
						else 
							return 0.0;
					}, 
					set: function (newValue) { this.m4_B2 = newValue; } 
				},
				m4_GS:{ 
					get: function () { 
						if ((main_input.delta.abs() < 1.0) && (main_input.AK  > 1.0))
							return math.divide(math.complex({r:(this.m4_B1-math.sqrt((math.pow(this.m4_B1, 2))-(4.0*(math.pow(main_input.C1.abs(), 2)))))/(2.0)  , phi: 0}), main_input.C1) ;
						else 
							return math.complex({r:0.0, phi:0.0});
					}, 
					set: function (newValue) { this.m4_GS = newValue; } 
				},
				m4_GS_arg_degree:{ 
					get: function () { 
						if ((main_input.delta.abs() < 1.0) && (main_input.AK  > 1.0))
							return radian_to_degree(  this.m4_GS.arg()  ) ; 
						else 
							return 0.0;
					}, 
					set: function (newValue) { this.m4_GS_arg_degree = newValue; } 
				},
				m4_GL:{ 
					get: function () { 
						if ((main_input.delta.abs() < 1.0) && (main_input.AK  > 1.0))
							return math.divide(math.complex({r:(this.m4_B2-math.sqrt((math.pow(this.m4_B2, 2))-(4.0*(math.pow(main_input.C2.abs(), 2)))))/(2.0)  , phi: 0}), main_input.C2) ;
						else 
							return math.complex({r:0.0, phi:0.0});
					}, 
					set: function (newValue) { this.m4_GL = newValue; } 
				},
				m4_GL_arg_degree:{ 
					get: function () { 
						if ((main_input.delta.abs() < 1.0) && (main_input.AK  > 1.0))
							return radian_to_degree(  this.m4_GL.arg()  ) ; 
						else 
							return 0.0;
					}, 
					set: function (newValue) { this.m4_GL_arg_degree = newValue; } 
				},
			},
		});

		var mode_5 = new Vue ({
			el: '#section_mode_5',
			data:
				sharedModel , 
			computed: {
				m5_show_flag_1: {
					get: function () { 
						(main_input.delta.abs() < 1.0);
						(main_input.AK  > 1.0);
						return (main_input.delta.abs() < 1.0) && (main_input.AK  > 1.0);
					}, 
				},
				m5_GPMAX:{ 
					get: function () { 
						var tmp=0.0;
						if ((main_input.delta.abs() < 1.0) && (main_input.AK  > 1.0)){
							tmp = (main_input.AK - math.sqrt(math.pow(main_input.AK, 2)-1.0)) * (math.divide(main_input.s21, main_input.s12)).abs();
							tmp = 10.0 * math.log(tmp, 10);
							return tmp;
						}
						else {
							return 0.0;
						}
					}, 
					set: function (newValue) { this.m5_GPMAX = newValue; } 
				},
				m5_GMSG:{ 
					get: function () { 
						var tmp=0.0;
						if ((main_input.delta.abs() < 1.0) && (main_input.AK  > 1.0)){
							return 0.0;
						}
						else {
							tmp = (math.divide(main_input.s21, main_input.s12)).abs();
							tmp = 10.0 * math.log(tmp, 10);
							return tmp;
						}
					}, 
					set: function (newValue) { this.m5_GMSG = newValue; } 
				},
				m5_OP_group: function() {
					var G;
					var m5_OP = [];
					var TMP1 = (math.multiply(main_input.s12, main_input.s21)).abs();
					var TMP2 = math.pow(main_input.s22.abs(), 2) - math.pow(main_input.delta.abs(), 2);

					if(  (this.m5_OP_start >= 0) && (this.m5_OP_start <= this.m5_OP_stop) && (this.m5_OP_step > 0.0) ) {
						for (G = this.m5_OP_start; G <= this.m5_OP_stop; G=G+this.m5_OP_step) { 
							GI = math.pow(10.0, (G/10.0)) / (math.pow(main_input.s21.abs(), 2));
							CENTER = math.multiply(math.complex({r:(GI/(1.0+(GI*TMP2))) , phi: 0}), math.conj(main_input.C2)) 
							RN = math.sqrt(1.0 - (2.0 * main_input.AK * TMP1 * GI) + math.pow(TMP1*GI, 2))
							RADIUS = RN / (1.0 + (GI * TMP2))
							m5_OP.push({G: G, RADIUS: RADIUS, DISTAN: CENTER.abs(), ANGLE: radian_to_degree(CENTER.arg()) });
						}	
					}
					return m5_OP;
				},

				m5_AV_group: function() {
					var G;
					var m5_AV = [];
					var TMP1 = (math.multiply(main_input.s12, main_input.s21)).abs();
					var TMP2 = math.pow(main_input.s11.abs(), 2) - math.pow(main_input.delta.abs(), 2);

					if(  (this.m5_AV_start >= 0) && (this.m5_AV_start <= this.m5_AV_stop) && (this.m5_AV_step > 0.0) ) {
						for (G = this.m5_AV_start; G <= this.m5_AV_stop; G=G+this.m5_AV_step) { 
							GI = math.pow(10.0, (G/10.0)) / (math.pow(main_input.s21.abs(), 2));
							CENTER = math.multiply(math.complex({r:(GI/(1.0+(GI*TMP2))) , phi: 0}), math.conj(main_input.C1)) 
							RN = math.sqrt(1.0 - (2.0 * main_input.AK * TMP1 * GI) + math.pow(TMP1*GI, 2))
							RADIUS = RN / (1.0 + (GI * TMP2))
							m5_AV.push({G: G, RADIUS: RADIUS, DISTAN: CENTER.abs(), ANGLE: radian_to_degree(CENTER.arg()) });
						}	
					}
					return m5_AV;
				},
			},
		});

		var mode_6 = new Vue ({
			el: '#section_mode_6',
			data:
				sharedModel , 
			computed: {
				m6_GO_arg_radian: { 
					get: function () { return degree_to_radian( this.m6_GO_arg_degree ); },
					set: function (newValue) { this.m6_GO_arg_radian = newValue; }
				},
				m6_NOISE_group: function() {
					var F;
					var m6_NOISE = [];
					
					TMP_FMIN = math.pow(10.0, (this.m6_FMIN / 10.0));
					TMP_R = this.m6_RN / this.m6_Z0;
					GO = math.complex({r: this.m6_GO_magnitude, phi: this.m6_GO_arg_radian});
					TMP_GO = math.pow( (math.add(math.complex({r: 1.0, phi: 0}), GO) ).abs() , 2)

					if(  (this.m6_NOISE_start >= 0) && (this.m6_NOISE_start <= this.m6_NOISE_stop) && (this.m6_NOISE_step > 0.0) ) {
						for (F = this.m6_NOISE_start; F <= this.m6_NOISE_stop; F=F+this.m6_NOISE_step) { 

							if(F >= this.m6_FMIN){
								FI = math.pow(10.0, (F / 10.0))				
								ANI = ((FI - TMP_FMIN) * TMP_GO) / (4 * TMP_R)
								CFIMAG = this.m6_GO_magnitude / (1.0 + ANI)
								RFI = math.sqrt(math.pow(ANI, 2)+(ANI*(1.0-math.pow(this.m6_GO_magnitude, 2)))) / (1.0 + ANI)
								m6_NOISE.push({F: F, RADIUS: RFI, DISTAN: CFIMAG, ANGLE: this.m6_GO_arg_degree });	
							}							
						}	
					}
					return m6_NOISE;
				},
			},
		});

		var mode_7 = new Vue ({
			el: '#section_mode_7',
			data:
				sharedModel , 
			computed: {
				m7_gamma_arg_radian: { 
					get: function () { return degree_to_radian( this.m7_gamma_arg_degree ); },
					set: function (newValue) { this.m7_gamma_arg_radian = newValue; }
				},
				m7_gamma: { 
					get: function () { return math.complex({r:this.m7_gamma_magnitude, phi: this.m7_gamma_arg_radian});	}, 
					set: function (newValue) { this.m7_gamma = newValue; } 
				},
				m7_input_gamma:{ 
					get: function () { 
						//G = S11 + (S12 * S21 * GAMMA / (1.0 - (S22 * GAMMA))) //note
						G = math.add( main_input.s11, math.divide( math.multiply( math.multiply(main_input.s12, main_input.s21) , this.m7_gamma), math.subtract(1.0, math.multiply(main_input.s22, this.m7_gamma))  ));
						return G;
					}, 
					set: function (newValue) { this.m7_input_gamma = newValue; } 
				},
				m7_output_gamma:{ 
					get: function () { 
						//G = S22 + (S12 * S21 * GAMMA / (1.0 - (S11 * GAMMA))) //note
						G = math.add( main_input.s22, math.divide( math.multiply( math.multiply(main_input.s12, main_input.s21) , this.m7_gamma), math.subtract(1.0, math.multiply(main_input.s11, this.m7_gamma))  ));
						return G;
					}, 
					set: function (newValue) { this.m7_output_gamma = newValue; } 
				},
				m7_input_gamma_arg_degree: { 
					get: function () { 
						return radian_to_degree(  this.m7_input_gamma.arg() ) ; 
					}, 
					set: function (newValue) { this.m7_input_gamma_arg_degree = newValue; } 
				},
				m7_output_gamma_arg_degree: { 
					get: function () { 
						return radian_to_degree(  this.m7_output_gamma.arg() ) ; 
					}, 
					set: function (newValue) { this.m7_output_gamma_arg_degree = newValue; } 
				},
			},
		});

		var mode_8 = new Vue ({
			el: '#section_mode_8',
			data:
				sharedModel , 
			computed: {
				m8_gamma_to_z_norm: { 
					get: function () { 
						GAM = math.complex({r:this.m8_gamma_magnitude, phi: degree_to_radian(this.m8_gamma_arg_degree)});
						ZZ = math.divide( math.add(math.complex({r:1.0, phi: 0}), GAM), math.subtract(math.complex({r:1.0, phi: 0}), GAM) );
						return ZZ;
					}, 
					set: function (newValue) { this.m8_gamma_to_z_norm = newValue; } 
				},
				m8_gamma_to_y_norm:{ 
					get: function () { 
						return math.divide(1, this.m8_gamma_to_z_norm) ;
					}, 
					set: function (newValue) { this.m8_gamma_to_y_norm = newValue; } 
				},
				m8_gamma_to_z: { 
					get: function () { 
						return math.multiply(this.m8_gamma_to_z_norm, this.m8_g_Z0) ;
					}, 
					set: function (newValue) { this.m8_gamma_to_z = newValue; } 
				},
				m8_gamma_to_y:{ 
					get: function () { 
						return math.divide(1, this.m8_gamma_to_z) ;
					}, 
					set: function (newValue) { this.m8_gamma_to_y = newValue; } 
				},
				m8_z_norm_to_gamma:{ 
					get: function () { 
						Z = math.complex({re: this.m8_z_norm_real, im: this.m8_z_norm_imag})
						GAMMA = math.divide( math.subtract (Z , 1.0) , math.add (Z , 1.0) );
						return GAMMA ;
					}, 
					set: function (newValue) { this.m8_z_norm_to_gamma = newValue; } 
				},

				m8_z_norm_to_gamma_arg_degree:{ 
					get: function () { 
						return  radian_to_degree(this.m8_z_norm_to_gamma.arg()) ;
					}, 
					set: function (newValue) { this.m8_z_norm_to_gamma_arg_degree = newValue; } 
				},

				m8_z_norm_to_z:{ 
					get: function () { 
						Z = math.complex({re: this.m8_z_norm_real, im: this.m8_z_norm_imag})
						return  math.multiply(Z, this.m8_z_Z0) ;
					}, 
					set: function (newValue) { this.m8_z_norm_to_z = newValue; } 
				},
			},
		});
	</script>
	
</body>

</html>

